* {
  box-sizing: border-box;
}

body {
  background-color: #f1bfa9;
  font-size: 1.2vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  padding: 0.2vw;
  width: 8vw;
  display: block;
  margin: auto;
  cursor: pointer;
  font-size: 1.2vw;
}

.gameOverMessage {
  display: none;
  margin: auto;
  font-size: 2vw;
}

h1 {
  color: white;
  font-size: 4vw;
  margin: 1vw auto 0 auto;
}

.hidden {
  display: none;
}

img {
  margin-left: 0.5vw;
  position: relative;
  top: 0.2vw;
  width: 1.5vw;
  height: 1.5vw;
}

input[type="text"] {
  font-size: 4vw;
}

input:focus {
  border: 0.5vw solid #00dd22;
  outline: 0;
  background-color: #b0eeba;
}

.playerGuessBox {
  width: 50vw;
  display: none;
  margin: 0 auto 0 auto;
  border: rgb(255, 0, 0) 0.5vw dotted;
}

input::placeholder {
  color: rgba(77, 76, 76, 0.459);
}

.performanceTable {
  display: none;
  align-self: center;
}

.playerGuessSubmit {
  background-color: #1c89ff;
  border-radius: 3vw;
  color: rgb(255, 255, 255);
  padding: 0.2vw;
  width: 20vw;
  display: none;
  margin: 1vw auto 1vw 1vw;
  font-size: 2vw;
}

.playerGuessSubmit:hover {
  background-color: #00ddd2;
  color: black;
}

.playerGuessSubmit:focus {
  background-color: #00ddd2;
  color: black;
}

.resetButton {
  background-color: #ff9393;
  width: 18vw;
  font-size: 1.8vw;
  padding: 1.2vw;
  border: 0.5vw solid rgb(167, 17, 17);
  text-align: center;
  cursor: pointer;
  color: #1b198e;
  display: none;
}

.resetButton:hover {
  background-color: crimson;
}

.resetHereText {
  font-weight: 700;
}

.tdClubs {
  text-align: center;
}

.startGameButton {
  background-color: rgb(238, 152, 39);
  width: 18vw;
  height: 15vw;
  font-size: 5vw;
}

.startGameButton:hover {
  background-color: rgb(6, 158, 6);
}

.rulesModalWindow {
  position: absolute;
  top: 35vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 3vw;
  border-radius: 0.5vw;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-size: 1.5vw;
}

.rulesCloseModal {
  position: absolute;
  top: 0.1vw;
  right: 0.8vw;
  font-size: 3vw;
  color: rgb(189, 31, 31);
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
}

.rulesModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5vw);
  z-index: 5;
}

table {
  background-color: #eee2dc;
  border: 0.4vw #0e3c42 solid;
  font-size: 1.3vw;
  border-collapse: collapse;
  margin: 1vw 0 1vw 0;
}

td {
  padding: 0.2vw 1vw 0.2vw 1vw;
  text-align: center;
  vertical-align: center;
}

table > tbody > tr {
  border: 1px solid black;
}

.topHeader {
  color: #123c69;
  font-size: 1.7vw;
}

th {
  border-bottom: 3px solid rgb(42, 128, 31);
  color: #ac3b61;
  /* color: #123c69; */
  background-color: #e4d4cd;
  font-size: 1.2vw;
  padding: 0.2vw;
}

span {
  font-weight: normal;
}

.tablesContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(147, 184, 226);
  justify-content: center;
  gap: 0.5vw;
  width: 80%;
}

#hint {
  align-self: center;
}

.hintButton {
  background-color: gold;
  font-size: 3vw;
  align-self: center;
  margin: 0 0 0 6vw;
  width: 8vw;
  height: 8vw;
  font-weight: bold;
}

.hintButton:hover {
  background-color: rgb(6, 158, 6);
}

#senior {
  align-self: center;
  min-height: 30vh;
}

.topContainer {
  display: flex;
  min-height: 70vh;
}

.gameFunctionalityDiv {
  background-color: lemonchiffon;
  display: flex;
}

.auxButtonsContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: rgb(226, 159, 231);
  height: inherit;
  gap: 4vh;
}
.rulesOpenModal {
  background-color: #a7a9aa;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1.2vw;
  width: 18vw;
  font-size: 1.7vw;
  justify-content: center;
}

.rulesOpenModal:hover {
  background-color: rgb(6, 158, 6);
}

.gameRulesText {
  font-weight: 700;
}

.turnCounterContainer {
  background-color: rgb(255, 128, 82);
  align-self: flex-start;
  width: 20%;
  text-align: center;
  display: none;
  font-size: 1.9vw;
}

.guessRemainingText {
  display: block;
}

.turnCounterNumber {
  font-size: 2.5vw;
  display: block;
}

.timerText {
  background-color: #583434;
  color: white;
  text-align: center;
  display: none;
  margin: 0 auto 1vh auto;
  border-radius: 5vw;
  padding: 1.2vw;
  width: 16vw;
  font-size: 2vw;
}

.timer {
  font-weight: 700;
}
