* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

table {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 100px;
  border: 5px rgba(110, 27, 27, 0.63) solid;
  padding: 20px;
}

td {
  padding: 10px;
}

th {
  padding: 10px;
  border-bottom: 1px solid rgba(41, 200, 20, 0.63);
}

.tdClubs {
  text-align: center;
}

table > tbody > tr > td:nth-child(3) {
  text-align: center;
}

table > tbody > tr > td:nth-child(4) {
  text-align: center;
}

.practise {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 100px;
  border: 5px rgba(179, 141, 179, 0.637) solid;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.308);
}

img {
  margin-left: 5px;
  /* margin-top: 10px; */
  position: relative;
  top: 3px;
}
